html {
    margin: 0px;
    padding: 0px;

    overflow: hidden;
}

body {
    margin: 0px; 
    padding: 0px;

    font-family: Verdana, sans-serif;
}

#canvas-container {
    position: relative;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    cursor: pointer;
}

#menu-container {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 280px;
    height: 100vh;
    padding: 10px;

    z-index: 20;

    background-color: rgb(220, 220, 220);
    border-right: 2px solid rgb(150, 150, 150);

    overflow: auto;
}

.button-container {
    margin: 10px;
    width: 100%
}

.button-text {
    padding-left: 5px;
    font-size: 14;
}

#documentation-container {
    margin: 20px;
    padding: 0px;
    padding-top: 15px;
    
    
    width: calc(100% - 40px);

    border-top: 2px solid rgb(150, 150, 150);
}

p {
    font-size: 11pt;
}

.MuiIconButton-root {
    color: rgba(0, 0, 0, 0.8) !important;
}

.Mui-disabled {
    color: rgba(0, 0, 0, 0.25) !important;
}

#file-upload-container {
    display: none;
}

/* Is so far the same as the documentation container, maybe make a shared class. */
#warning-container {
    margin: 20px;
    padding: 0px;
    padding-top: 15px;
    
    
    width: calc(100% - 40px);

    border-top: 2px solid rgb(150, 150, 150);
}

.warning {
    margin-bottom: 15px;
}